<div class="container" >
  <div class="info">Przyjęta wartość Bits: 100szt = 1,77€</div>
  <div class="switcher">
    <div class="state-switch">PLN-Bits</div>
    <mat-slide-toggle [(ngModel)]="switchConverter" (change)="changeConverter()" ></mat-slide-toggle>
    <div class="state-switch">Bits-PLN</div>
  </div>
  <mat-form-field class="amount-input" appearance="outline">
    <mat-label>{{plnInput}}</mat-label>
    <input type="number" matInput [(ngModel)]="firstInput" (input)="convertValue()">
  </mat-form-field>
  <mat-form-field class="amount-input" appearance="outline">
    <mat-label>{{bitsInput}}</mat-label>
    <input matInput [(ngModel)]="secondInput" [disabled] ='true'>
  </mat-form-field>
</div>
